### Imports

In [1]:
import tensorflow as tf
from tensorflow.python import keras as K

import keras
from keras.models import Sequential
from keras.layers import Dense

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

%matplotlib inline

Using TensorFlow backend.

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
train_data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train_data.columns

Index(['label', 'pixel0', 'pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5',
       'pixel6', 'pixel7', 'pixel8',
       ...
       'pixel774', 'pixel775', 'pixel776', 'pixel777', 'pixel778', 'pixel779',
       'pixel780', 'pixel781', 'pixel782', 'pixel783'],
      dtype='object', length=785)

In [5]:
X_train = train_data.drop(['label'], axis=1)
y_train = train_data['label']

# One hot encoded y_train label
y_train = pd.get_dummies(y_train)
y_train.head()

   0  1  2  3  4  5  6  7  8  9
0  0  1  0  0  0  0  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  1  0  0  0  0  0  0  0  0  0

In [6]:
test_data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
X_test = test_data
# y_test = test_data[0]

# # One hot encoded for y_test label
# y_test = pd.get_dummies(test_data[0])
# y_test.head()

In [8]:
min_max_scaler = MinMaxScaler()

In [9]:
X_train = min_max_scaler.fit_transform(X_train.values)
y_train = min_max_scaler.fit_transform(y_train.values)
X_test = min_max_scaler.fit_transform(X_test)
# y_test = min_max_scaler.fit_transform(y_test)

C:\Users\Ayush\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Ayush\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Ayush\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [10]:
print('Input features: ', X_train.shape, X_train.dtype)
print('Training labels: ', y_train.shape, y_train.dtype)
print('Test features: ', X_test.shape, X_test.dtype)
# print('Test labels: ', y_test.shape, y_test.dtype)

Input features:  (42000, 784) float64
Training labels:  (42000, 10) float64
Test features:  (28000, 784) float64

### Keras Model

In [11]:
model = Sequential()

In [12]:
model.add(Dense(784, activation='relu', input_dim=784))
model.add(Dense(300, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(10, activation='softmax'))

WARNING:tensorflow:From C:\Users\Ayush\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [13]:
adam = keras.optimizers.Adam(lr=0.01)

In [14]:
model.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])

In [15]:
hist = model.fit(x=X_train, y=y_train, batch_size=100, epochs=25)

WARNING:tensorflow:From C:\Users\Ayush\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/15
42000/42000 [==============================] - 11s 265us/step - loss: 0.3065 - acc: 0.9074
Epoch 2/15
42000/42000 [==============================] - 9s 214us/step - loss: 0.1457 - acc: 0.9581
Epoch 3/15
42000/42000 [==============================] - 9s 213us/step - loss: 0.1150 - acc: 0.9676
Epoch 4/15
42000/42000 [==============================] - 9s 217us/step - loss: 0.1074 - acc: 0.9696
Epoch 5/15
42000/42000 [==============================] - 9s 222us/step - loss: 0.0921 - acc: 0.9747
Epoch 6/15
42000/42000 [==============================] - 9s 219us/step - loss: 0.0926 - acc: 0.9757
Epoch 7/15
42000/42000 [==============================] - 9s 216us/step - loss: 0.0845 - acc: 0.9785
Epoch 8/15
42000/42000 [==============================] - 9s 219us/step - loss: 0.0746 - acc: 0.9803
Epoch 9/15
42000/42000 [==============================] - 9s 218us/step - loss: 0.0643 - acc: 0.9833
Epoch 10/15
42000/42000 [==============================] - 9s 216us/step - loss: 0.0726 - acc: 0.9820
Epoch 11/15
42000/42000 [==============================] - 9s 215us/step - loss: 0.0808 - acc: 0.9810
Epoch 12/15
42000/42000 [==============================] - 9s 218us/step - loss: 0.0643 - acc: 0.9841
Epoch 13/15
42000/42000 [==============================] - 9s 213us/step - loss: 0.0837 - acc: 0.9822 5s - loss: 0.0726
Epoch 14/15
42000/42000 [==============================] - 9s 215us/step - loss: 0.0595 - acc: 0.9862
Epoch 15/15
42000/42000 [==============================] - 9s 217us/step - loss: 0.0706 - acc: 0.9845

In [16]:
prediction = model.predict_classes(X_test)

In [17]:
prediction

array([2, 0, 9, ..., 3, 9, 2], dtype=int64)

In [18]:
prediction = pd.DataFrame(prediction, columns=['Label'])

In [19]:
imageID = pd.DataFrame(np.arange(1, 28001))

In [20]:
prediction['ImageId'] = imageID

In [21]:
prediction = prediction[['ImageId', 'Label']]

In [22]:
prediction.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [23]:
prediction.to_csv('prediction.csv', index=False)

In [24]:
prediction.count()

ImageId    28000
Label      28000
dtype: int64

In [25]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 784)               615440
_________________________________________________________________
dense_2 (Dense)              (None, 300)               235500
_________________________________________________________________
dense_3 (Dense)              (None, 100)               30100
_________________________________________________________________
dense_4 (Dense)              (None, 10)                1010
=================================================================
Total params: 882,050
Trainable params: 882,050
Non-trainable params: 0
_________________________________________________________________