### Imports

In [1]:
import tensorflow as tf
from tensorflow.python import keras as K

import keras
from keras.models import Sequential
from keras.layers import Dense

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

%matplotlib inline

Using TensorFlow backend.

In [2]:
train_data = pd.read_csv('mnist_train.csv', header=None)
test_data = pd.read_csv('mnist_test.csv', header=None)

In [3]:
X_train = train_data.drop(train_data.columns[0], axis=1)
y_train = train_data[0]

# One hot encoded y_train label
y_train = pd.get_dummies(train_data[0])
y_train.head()

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [4]:
X_test = test_data.drop(test_data.columns[0], axis=1)
y_test = test_data[0]

# One hot encoded for y_test label
y_test = pd.get_dummies(test_data[0])
y_test.head()

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  1  0  0
1  0  0  1  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0  0  0  0
3  1  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0

In [5]:
min_max_scaler = MinMaxScaler()

In [6]:
X_train = min_max_scaler.fit_transform(X_train.values)
y_train = min_max_scaler.fit_transform(y_train.values)
X_test = min_max_scaler.fit_transform(X_test)
y_test = min_max_scaler.fit_transform(y_test)

C:\Users\Ayush\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Ayush\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Ayush\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Users\Ayush\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype uint8 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [7]:
print('Input features: ', X_train.shape, X_train.dtype)
print('Training labels: ', y_train.shape, y_train.dtype)
print('Test features: ', X_test.shape, X_test.dtype)
print('Test labels: ', y_test.shape, y_test.dtype)

Input features:  (60000, 784) float64
Training labels:  (60000, 10) float64
Test features:  (10000, 784) float64
Test labels:  (10000, 10) float64

### Keras Model

In [8]:
model = Sequential()

In [9]:
model.add(Dense(300, activation='relu', input_dim=784))
model.add(Dense(100, activation='relu'))
model.add(Dense(10, activation='softmax'))

WARNING:tensorflow:From C:\Users\Ayush\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [10]:
adam = keras.optimizers.Adam(lr=0.01)

In [11]:
model.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])

In [13]:
model.fit(x=X_train, y=y_train, batch_size=100, epochs=10)

Epoch 1/10
60000/60000 [==============================] - 7s 114us/step - loss: 0.1303 - acc: 0.9618
Epoch 2/10
60000/60000 [==============================] - 7s 125us/step - loss: 0.1042 - acc: 0.9697
Epoch 3/10
60000/60000 [==============================] - 7s 120us/step - loss: 0.0942 - acc: 0.9728
Epoch 4/10
60000/60000 [==============================] - 10s 160us/step - loss: 0.0879 - acc: 0.9754T
Epoch 5/10
60000/60000 [==============================] - 7s 122us/step - loss: 0.0805 - acc: 0.9776 1s - lo
Epoch 6/10
60000/60000 [==============================] - 7s 114us/step - loss: 0.0688 - acc: 0.9807
Epoch 7/10
60000/60000 [==============================] - 7s 110us/step - loss: 0.0758 - acc: 0.9797
Epoch 8/10
60000/60000 [==============================] - 7s 120us/step - loss: 0.0698 - acc: 0.9816
Epoch 9/10
60000/60000 [==============================] - 7s 108us/step - loss: 0.0626 - acc: 0.9834
Epoch 10/10
60000/60000 [==============================] - 8s 132us/step - loss: 0.0758 - acc: 0.9815

In [14]:
model.predict_classes(X_test)

array([7, 2, 1, ..., 4, 5, 6], dtype=int64)

In [15]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 300)               235500
_________________________________________________________________
dense_2 (Dense)              (None, 100)               30100
_________________________________________________________________
dense_3 (Dense)              (None, 10)                1010
=================================================================
Total params: 266,610
Trainable params: 266,610
Non-trainable params: 0
_________________________________________________________________